.parent_ingredient_form {
    margin: 10px;
    padding: 5px;
    border: 0.5px solid lightgrey;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.base_add_ingredient_form {
    max-width: 60%;
    margin: 10px;
    padding: 5px;
    border: 0.5px solid lightgrey;
    box-sizing: border-box;
}

.input_border_around {
    border: 0.5px solid lightgrey;
    box-sizing: border-box;
}

.overflow-auto {
    overflow: auto;
}