:root {
  --dark: black;
  --dar-blue: #00203fff;
  --blue: #5da2d5;
  --yellow: #f3d250;
  --red: #f78888;
}
body {
  margin: 0;
  /* background-image: linear-gradient(to right, #f78888, #f3d250); */
}
*,
::after,
::before {
  box-sizing: border-box;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
}
h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8hv;
  font-family: sans-serif;
  background-image: linear-gradient(to right, #f78888, #f3d250, #5da2d5);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* section {
  background-color: #00203fff;
} */

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #5da2d5;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.NavMain {
  position: fixed;
  width: 100%;
  min-height: 60px;
  z-index: 1;
}

.logo {
  letter-spacing: 5px;
  font-size: 20px;
  margin: 0px;
  color: #00203fff;
}
.nav_links {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  width: 40%;
}
.nav_links a {
  color: #00203fff;
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
.nav_links li {
  list-style: none;
  color: #00203fff;
}
.burger_link {
  display: none;
}
.burger_link div {
  width: 25px;
  height: 3px;
  background-color: #00203fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .nav_links {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    width: 60%;
  }
  .nav_links a {
    color: #00203fff;
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: 0px;
    height: 100px;
    top: 8vh;
    /* background-color: #ececec; */
    background-image: linear-gradient(to right, #f78888, #f3d250, #5da2d5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger_link {
    display: block;
    cursor: pointer;
  }
}

.nav_active {
  transform: translateX(0%);
}

@keyframes navLinkAppear {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hide_link {
  display: none;
}

.move .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.move .line2 {
  opacity: 0;
}

.move .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hint {
  padding: 0.5em;
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: visibility 0s, opacity 0.3s, max-height 0.6s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s, opacity 0.3s, visibility 0.3s linear;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.coll {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reverse {
  justify-content: flex-end;
}
.content_centered {
  text-align: center;
  justify-content: center;
  inline-size: 14em;
}
.center {
  text-align: center;
  justify-content: center;
}
.max_width {
  width: 100%;
}
.ml-3 {
  margin-left: 3px;
}
.ml-1 {
  margin-left: 1px;
}
.special:last-of-type {
  margin-top: auto;
}
.star {
  color: grey;
  cursor: pointer;
}
.star_selected {
  color: yellow;
  cursor: pointer;
}
.yellow_color {
  color: yellow;
}
.star_select {
  color: darkgoldenrod;
  cursor: pointer;
}
.section_container {
  min-height: 100px;
}
.draggable_card_selected {
  opacity: 0.5;
}
.draggable_card {
  cursor: move;
}
.buffer-top-100 {
  min-height: 100px;
}
.body_page {
  margin-top: 60px;
}

/* .pageBody {
  padding: 10px;
  margin: 10px;
  /* overflow-x: hidden;
}*/

/* .section_discounts {
  display: flex;

  flex-wrap: wrap;
  width: 60em;
} */

/* .section_restaurants {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
} */
.restaurant_item {
  margin: 10px;
  width: 18em;
  background-color: #00203fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
}
.section_restaurants .restaurant_item h4 {
  color: #5da2d5;
}
.label_info {
  margin-left: 35px;
  width: 200px;
}
.restaurant_item a {
  color: #5da2d5;
  font-weight: bold;
  text-decoration: none;
}
.restaurant_item p {
  /* color: #5da2d5; */
  text-decoration: none;
  font-weight: bold;
}
.restaurant_item a:hover {
  color: #f3d250;
  text-decoration: none;
}
.info_discount {
  color: #ff8152;
}
.restaurant_item .restaurant_item_head img {
  width: 18em;
  height: 12em;
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--dar-blue);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}
.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}
