.hint {
    padding: .5em;
    font-weight: bold;
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition: visibility 0s, opacity 0.3s, max-height 0.6s linear;
}

.hide {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: max-height 0.3s, opacity 0.3s, visibility 0.3s linear;
}

.coll {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content_centered {
    text-align: center;
    justify-content: center;
}
.ml-3 {
    margin-left: 3px;
}
.ml-1 {
    margin-left: 1px;
}