.hint {
  padding: 0.5em;
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: visibility 0s, opacity 0.3s, max-height 0.6s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s, opacity 0.3s, visibility 0.3s linear;
}

.coll {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reverse {
  justify-content: flex-end;
}
.content_centered {
  text-align: center;
  justify-content: center;
  inline-size: 14em;
}
.center {
  text-align: center;
  justify-content: center;
}
.max_width {
  width: 100%;
}
.ml-3 {
  margin-left: 3px;
}
.ml-1 {
  margin-left: 1px;
}
.special:last-of-type {
  margin-top: auto;
}
.star {
  color: grey;
  cursor: pointer;
}
.star_selected {
  color: yellow;
  cursor: pointer;
}
.star_select {
  color: darkgoldenrod;
  cursor: pointer;
}
form_create_review {
  display: inline-block;
}
