{% extends 'base.html' %}
{% load custom_orderfood_tags %}
{% load static %}
{% block content %}
    <input type="hidden" name="restaurant_id_input" value='{{ object.id }}'>
    {% if object.owner.username == user.username %}
        {# TODO #}
        <div id="Actions_owner_div">
            <button class="btn-test draw-border">Update Restaurant</button>
            <button class="btn-test draw-border" id="add_menu_button"> Add menu</button>
        </div>
        <div id="Action_owner_form"></div>
    {% endif %}
    {% if  object.menu %}
        {% for menu in object.menu.all %}
            <section id='section_inside_menu{{ menu.id }}' class="p-4 bg-white shadow">
                <div class="row">
                    <h4> {{ menu.type }} </h4>
                    {% if object.owner.username == user.username %}
                        <button class="btn-test draw-border" name="button_show_form_section" value="{{ menu.id }}">
                            Add Section
                        </button>
                        <button class="btn-test draw-border" name="delete_menu_button" value="{{ menu.id }}">Delete
                            Menu
                        </button>
                    {% endif %}
                </div>
                {% for section in menu.sections.all %}
                    <section class="p-4 shadow bg-white rounded container">
                        <div class="row">
                            <div class="p-2">
                                <h5>{{ section.name }}</h5>
                            </div>
                            <div class="p-2">
                                {% if object.owner.username == user.username %}
                                    <button name="add_item_button" class="btn-test draw-border"
                                            value="{{ section.id }}">Add Item
                                    </button>
                                    <button class="btn-test draw-border" name="delete_section_button"
                                            value="{{ section.id }}"> Delete Section
                                    </button>
                                    <button class="btn-test draw-border" name="button_update_section"
                                            value="{{ section.id }}"> Update section
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </section>
        {% endfor %}
    {% else %}
        <p>There are no menus at the moment</p>
    {% endif %}
    <h3><strong>Reviews</strong></h3>
    {# REVIEW ADD #}
    {% if user.is_authenticated %}
        <div id="div_review_add">
            <button name='add_review_first_button' class="btn-test draw-border">Add Review</button>
        </div>
    {% endif %}
    {# Here are all of the Reviews #}
    {% if object.reviews.all %}
        <div class="row" id="reviews_div">
            {% for review in object.reviews.all %}
                <div class="card m-2 shadow rounded">
                    {% if review.author.profile.main_image %}
                        {{ review.author.profile.main_image.url }}
                        <img alt='Profile pic' src="{{ review.author.profile.main_image.url }}"
                             class="card-img-top">
                    {% else %}
                        <img alt='Profile pic' class="card-img-top"
                             src="{% static 'images/basic_business_icon.png' %}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            Title: {{ review.title }}
                            <strong>Mark: {{ review.mark }}/5</strong>
                        </h5>
                        <p>
                            <button value="{{ review.id }}" name="review_like_button" class="btn-test draw-border">
                                Like!
                            </button>
                            <label class="m-1" id="{{ review.id }}review_label">{{ review.likes.count }}
                                - {{ review.dislikes.count }}</label>
                            <button name="review_dislike_button" value="{{ review.id }}" class="btn-test draw-border">
                                Dislike!>
                            </button>
                        </p>
                        <button name="review_delete_button" value="{{ review.id }}" class="btn-test draw-border">
                            Delete!
                        </button>
                        <p class="card-text">Author:<a href={% url 'Profile:see_profile' review.author.id %}>
                            {{ review.author }}</a></p>
                        <p class="card-text">Description: {{ review.body }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h4><strong>There are no reviews yet!</strong></h4>
        </div>
    {% endif %}
    <script async type="text/javascript" src={% static 'javascript/basket.js' %}></script>
    <script async type="text/javascript" src={% static 'javascript/review.js' %}></script>
    <script async type="module" src={% static 'javascript/Menu/Menus.js' %}></script>
    <script async type="text/javascript">
        let restaurant_id = "{{ object.id }}";
    </script>
    <!-- HTML !-->
{% endblock %}