<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Restaurants App</title>
    <meta name="theme-color" content="#ff8152">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=10, user-scalable=1"
    />
    <link
      async
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <link
      async
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/card/cards.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/input/input.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/base.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/Confirm_button/Confirm_button.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/buttons/buttons.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/SearchBar.css' %}"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/images/icon/apple-touch-icon.png"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/icon/favicon-32x32.png"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/icon/favicon-16x16.png"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="manifest"
      href="/static/images/icon/site.webmanifest"
      media="print"
      onload="this.media='all'"
    />
  </head>
  <body>
    <div class="transition transition-1 is-active"></div>
    <nav class="NavMain">
      <div class="logo">
        <h4>The nav Bar</h4>
      </div>
      <div class="burger_link">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <div class="buffer-top-100"></div>
    <div class="pageBody container">
      {% block content %} {% endblock %}
    </div>
    <script type="text/javascript">
      const user = "{{ request.user }}";

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrftoken = getCookie("csrftoken");
    </script>
    <script async type="module" src={% static 'javascript/Pages/Navbar.js' %}></script>
    <script async type=""application/javascript" src={% static 'javascript/Pages/transitions.js'%}></script>
  </body>
</html>
