.skill-card {
    /*flex-shrink: 3;*/
    margin: 10px;
    padding: 20px;
    width: 18em;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.skill-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 36em;
    transition: width 0.5s;
}

.skill-card:hover .skill-card__header {
    height: 40px;
}

.skill-card:hover .skill-card__body {
    height: 400px;
}

.skill-card__header {
    position: relative;
    background-color: #eb6c3f;
    height: 200px;
    margin: -20px -20px 20px -20px;
    transition: height .5s;
    overflow: hidden;
}

.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 320px;
    height: 200px;
    transition: transform .5s;
}

.skill-card .skill-card__body {
    height: 40px;
    transition: height .5s;
    overflow: hidden;
}

.skill-card .skill-card__body .skill-card__title {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
}

.skill-card .skill-card__body .skill-card__duration {
    color: #9E9E9E;
    font-style: italic;
}

.skill-card .skill-card__body .skill-card__knowledge {
    margin-top: 10px;
    color: #424242;
}

/*@media (max-width: 991px)*/
/*.product-label.product-label-discount {*/
/*    top: 11px !important;*/
/*    right: 0 !important;*/
/*    width: 45px !important;*/
/*    height: 22px !important;*/
/*    background: #ff002a 0 0 no-repeat padding-box !important;*/
/*    border-radius: 3px 0 0 3px !important;*/
/*}*/

.skill-card .skill-card__header .product-label-discount {
    position: absolute;
    top: 28px;
    right: 4px;
    left: auto;
    height: 24px;
    width: 78px;
    padding: 3px 8px;
    background-color: #ff002a;
    color: #fff;
    border-radius: 3px;
    font-family: latoregular, helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
}

.skill-card .skill-card__header .product-label-age {
    position: absolute;
    top: 56px;
    right: 4px;
    left: auto;
    height: 24px;
    width: 46px;
    padding: 3px 8px;
    background-color: green;
    color: #fff;
    border-radius: 3px;
    font-family: latoregular, helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
}
